

<section class="section-container">

    
    <div class="experiencia">
               
        <H4>{{miPortfolio?.antecedentesLaborales.expLaboral}}</H4> 
            
        <ul><br>
            <li> {{miPortfolio?.antecedentesLaborales.fechaIngSal}}</li> <br>
            <li>{{ miPortfolio?.antecedentesLaborales.nombreEmpresa }}</li> <br>
            <li>{{miPortfolio?.antecedentesLaborales.puestoOcupado}}</li>
        </ul>
   
        
    </div>

    

    <div class="educacion">
        <h4>EDUCACION</h4>
        <ul>
            <li> Escuela Primaria </li>
            <p>{{miPortfolio?.educacion.nombreEscPri}}</p><br>
            <li>Escuela Secundaria</li>
            <p>{{miPortfolio?.educacion.nombreEscSec}}</p>
        </ul>
    </div> 

</section>
